USE [master]
GO
/****** Object:  Database [tecno]    Script Date: 6/28/2019 7:27:14 PM ******/
CREATE DATABASE [tecno]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tecno', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TRAINING\MSSQL\DATA\tecno.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tecno_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TRAINING\MSSQL\DATA\tecno_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tecno].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tecno]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 6/28/2019 7:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[DNI] [int] NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Alumnos] ([DNI], [Apellido], [Nombre]) VALUES (42103193, N'Rueda', N'Nazarena')
GO
INSERT [dbo].[Alumnos] ([DNI], [Apellido], [Nombre]) VALUES (95675394, N'Picon', N'Darelis')
GO
USE [master]
GO
